.sidebar .side-nav li.active > a:first-child {
    font-weight: bold;
    color: #008fba;
    position: relative;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 64, 84, 0.05);
}

.sidebar .side-nav li:hover > a:first-child {
    color: #006887;
    position: relative;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 64, 84, 0.03);
}
/* Literal.Number.Integer.Long */
.sidebar {
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    padding: 32px 20px;
}

.sidebar.fixed, [data-magellan-expedition] {
    left: auto !important;
}

.side-nav .heading {
    text-transform: uppercase;
}

.side-nav li {
    margin: 0;
    padding: 0;
}

.side-nav li a {
    padding: 0.33333rem 0;
}

.side-nav li a:hover {
    color: #004054;
}

.side-nav li a:hover span {
    background: #dadada;
    color: black;
}

.side-nav .heading, .sidebar form {
    padding: 2px 0px;
}

.side-nav li.divider {
    margin: 16px 0px;
}

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 {
    padding: 4px 0px;
    font-size: 0.77778rem;
    font-weight: bold;
}

.sidebar .download.button {
    margin: 10px 0px;
    font-size: 1rem;
}

.sidebar .label {
    background: #dddddd;
    border-radius: 3px;
    color: #777777;
    margin-left: 5px;
}

.sidebar form {
    margin-bottom: 0;
}

.sidebar .button {
    font-size: 0.66667rem;
}

.sidebar input[type="search"]:focus {
    -moz-box-shadow: 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
}
.message-content {
    padding-top: 5px;  
    padding-right: 5px;
    margin-bottom: 5px;
    font-size: 0.80rem;
    color: #3A3D41;
}

h1 { font-family: 'Covered By Your Grace', cursive; font-weight: 400; }
h2 { font-family: 'Covered By Your Grace', cursive; font-weight: 400; }
h3 { font-family: 'Covered By Your Grace', cursive; font-weight: 400; }
h4 { font-family: 'Covered By Your Grace', cursive; font-weight: 400; }
h5 { font-family: 'Covered By Your Grace', cursive; font-weight: 400; }
h6 { font-family: 'Covered By Your Grace', cursive; font-weight: 400; }
